.mid{
    display:grid;
    grid-template-columns:repeat(3,400px);
    width:80%;
    grid-gap:20px;
    position:relative;
    top:50px;
    margin:0 auto;
   
div{
    height:350px;
    
}
}

.mid > div:not(.card-container){
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 30px;
}