.headerdd{
     position:absolute;
     top:130px;
     width:380px;
     height:400px;
     border-radius: 0 0 40px 40px;
     background-color:var(--walmart-blue);
     z-index:3;
     transition:all 0.5s ease;
     .option-img-list{
        display: flex;
        width: 80%;
        margin: 15px auto;
        justify-content: space-around;
        text-transform: capitalize;
        img{
            width:50px;
            height: 50px;

        }
        p{
            text-align: center;
        }
     }
     .delivery-address{
        width:90%;
        height:150px;
        background-color: white;
        border-radius: 20px;
        margin: 0 auto;
     }
}