.card-2{
    text-transform:capitalize;
    div{
        position:relative
    }
    .p-d{
        display: flex;
        justify-content: space-between;
        background-color:lightblue;
        height:100px;
        align-items: center;
        position:relative;
        padding-top: 20px;
        button{
            width: auto;
            padding:15px 25px;
            height: fit-content;
            display: flex;
            position:relative;
            align-items: center;
            border:1px solid black;
            background-color: white;
            border-radius: 35px;
            text-transform: capitalize;
            font-weight: bold;
            
        }
    }
    .ps-child1{
        display:flex;
        justify-content :space-between;
        padding: 12px
    }
    .ps-row{
        display: flex;
        justify-content:space-around;
        position: relative;
        margin-top: 40px;
    }

}