.rollback{
    position: relative;
    display:flex;
    padding:30px;
     flex-direction:column;
    .rollback-top{
        display:flex;
        justify-content: space-between;
    }
    img{
       position:relative;
        
    }
}