.header{
    color:white;
    background-color:rgb(62, 62, 255);
    width: 100vw;
    z-index: 2;
    // position: sticky;
    top:0;
    transition:all 0.5s  ease;
    max-height:80px;
    overflow: hidden;
    .header-top{
        display:flex;
        width:100%;
        justify-content:space-around;
        height:80px;
        align-items:center;
        


    }
    .header-top-left{
        display:flex;
        width:30%;
        justify-content: space-around;
        .comp-logo{
            max-height:40px;
        }
        .department{
            display:flex;
            align-items: center;
            justify-content:center;
            font-weight: bold;
            svg{
                transform: rotate(-45deg);
                margin-right: 10px;
            }
        }
        .department:hover{
            svg{
                background-color: white;
                color:rgb(62, 62, 255);
                transform: rotate(0deg);
            }
        }
    }
    .searchinp{
        display: flex;
        background-color:white;
        align-items: center;
        border-radius:25px ;
        padding: 10px;
        padding-right:0px;
        width:800px;
        max-height:20px;
        .header-top-inp{
            flex:8;
            height:80%;
            font-size:18px;
            border:0;
            outline: none;
        }
    .search-icon-con{
      background-color:orange;
      color:black;
      height:40px;
      opacity:0.8;
      width:40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    }
    .header-top-right{
        display:flex;
        width:300px;
        justify-content: space-around;
        text-transform: capitalize;
        align-items: center;
        svg{
            font-size: 18px;
            margin-right: 10px;
        }
        svg:nth-child(3){
            color: black;
        }
        .header-top-right-option{
            display: flex;

        }
        .top-right-option{
            font-size: 13px;
        }
        .top-right-bolded-option{
            font-weight: bold;

        }

    }


    .hover-blue{
        transition: all 0.5s ease;
        padding:14px;
        border-radius: 40px;
    }
    .hover-blue:hover{
        background-color: rgb(11, 11, 223);
    }
    hr{
        stroke: 10px;
        color: white;
        width: 100vw;
    }
    .header-bottom{
        
        width: 100vw;
        height: 30px;
     .delivery-options{
        display: flex;
        p{
            position: relative;
            padding: 6px;
            transition: all 0.5s ease;
        }
        p::after{
            position:relative;
            content: "";
            width: 100%;
            display: block;
            height: 2px;
            background: #fff;
            transition: all 0.5s ease;
            transform: scaleX(0.1);
            transform-origin:left ;
        }
        p:hover::after{
            transform: scaleX(1);
            transform-origin: right;
        }
     }    
    }
}
.sticky{
    
    max-height:500px;
    position:sticky;
}